/web/flash-card-app/
/flash-card-gateway/
/server/flash-card-gateway/
/server/flash-card-eureka/
/server/flash-card-config-server/
/external-config/
/.metadata/
/web/
/web/flash-card-app/
/server/flash-card-users-service/
